.sidebar {
    transition: .5s;
}

.sidebar-close {
    width: 0%;
    transform: scaleX(0);
    transform-origin: center left;
}

.sidebar-open {
    width: auto;
    transform: scaleX(1);
    transform-origin: center left;
}